p {
  font-family: Roboto, Helvetica Neue, Arial;
  color: #202020;
  text-align: left;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
  padding: 15px;
}


.overlayText {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 1;
  color: white;
}

h1 {
  font-family: Roboto, Helvetica Neue, Arial;
  color: white;
  text-align: left;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.1;
  letter-spacing: -1.5px;
}

h2 {
  font-family: Roboto, Helvetica Neue, Arial;
  color: #202020;
  text-align: left;
  font-weight: 700;
  padding-left: 10px;
  padding-top: 20px;
}

h3 {
  font-family: Roboto, Helvetica Neue, Arial;
  color: white;
  text-align: left;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.08em;
  letter-spacing: 1.65px;
}

video {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

img {
  max-width: 100%;
  height: auto;
}

.row {
  padding-top: 20px;
}

button {
  padding: 10px;
  min-width: 50%;
  max-width: 80%;
  background-color: white;
  color: black;
  border: 1px solid #000400;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #000000;
  color: white;
}

svg {
  display: none;
}

.btn_haendler svg {
  width: 5rem;
  height: 5.7rem;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
}

button .butn_haendler {
  background-color: #000000;
}

.btn_haendler {
  border: none;
  color: black;
  background-color: #000000;
  position: absolute;
  left: 10px;
}

.btn_haendler:hover {
  background-color: black;
  color: white;
}

.btn_haendler:hover .hexagon {
  -webkit-transition: fill 0.3s ease-out;
  transition: fill 0.3s ease-out;
  fill: white;

}

.btn_haendler .hexagon {
  fill: transparent;
  stroke: white;
  stroke-width: 1.5;

}

#haendler {
  width: 3rem;
  height: 3.7rem;

}

.btn_text {
  display: none;
}

#row_reverse {
  flex-flow: column-reverse;
}

.content {
  padding: 10px;
}

img {
  padding: 10px;
}

.mobile_noshow {
  display: none;
}

.container_cta {
  position: relative;
  text-align: center;
  color: white;
}

#cta {
  font-family: Roboto, Helvetica Neue, Arial;
  font-size: 20px;
  letter-spacing: 1px;
}

.overlayText_haendler {
  position: absolute;
  top: 60px;
  left: 30px;
  max-width: 50%;
}


@media screen and (min-width: 992px) {

  #morepaddingtop {
    padding-top: 60px;
  }

  .background{
    background-color: #f8f8f7;
  }

  #img_red_diagonal {
    min-height: 400px;
  }

  .img #light_red {
    background-image: url(inhalt\Unbenannt.png);
  }

  #light_green {
    background-image: url(inhalt\Lampe_rot_cropped_schräg.png);
  }

  #cta {
    font-size: xx-large;
    font-family: Roboto, Helvetica Neue, Arial;
    color: white;
  }

  video {
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .overlayText {
    top: 25%;
    left: 8%;
  }

  .mobile_noshow {
    display: inline-block;
  }

  p {
    font-family: Roboto, Helvetica Neue, Arial;
    color: #202020;
    text-align: left;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    padding-left: 20px;
    max-width: 80%;
  }

  .box_1 {
    max-width: 70%;
  }

  h1 {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1.1;
  }

  h2 {
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 80px;
  }

  h3 {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.33;
  }

  svg {
    width: 4rem;
    border: none;
    height: 4.7rem;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
  }

  button {
    border: none;
    text-align: left;
  }

  button:hover {
    background-color: white;
    color: black;
  }

  button:hover .hexagon {
    -webkit-transition: fill 0.3s ease-out;
    transition: fill 0.3s ease-out;
    fill: #000400;
  }

  .hexagon {
    fill: transparent;
    stroke: #181818;
    stroke-width: 1.5;
  }

  .btn_text {
    display: inline-block;
    color: white;
  }

  .collapsible {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
  }

  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f8f8f7;
    width: 100vw;
  }

  .icon {
    box-sizing: border-box;
    transition: transform 0.3s;
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
    position: relative;
  }

  .icon:hover {
    transform: rotate(0deg);
  }

  .icon::before {
    content: "";
    display: block;
    width: 24px;
    height: 0px;
    border-bottom: solid 2px #a1a1a1;
    position: absolute;
    bottom: 11px;
    transform: rotate(90deg);
    transition: width 0.3s;
  }

  .icon:hover::before {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-bottom: solid 2px #a1a1a1;
    position: absolute;
    bottom: 11px;
    transform: rotate(90deg);
  }

  .icon::after {
    content: "";
    display: block;
    width: 24px;
    height: 0px;
    border-bottom: solid 2px #a1a1a1;
    position: absolute;
    bottom: 11px;
  }

  #row_reverse {
    flex-flow: row;
  }

  img {
    padding: 0%;
  }

  .overlayText_haendler #cta {
    padding-top: 50px;
    line-height: normal;
    font-size: 70px;
  }

  #haendler {
    width: 4rem;
    height: 4.7rem;
  }

  .btn_haendler {
    position: absolute;
    left: 16px;
  }
}